<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Il mio Ricettario</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Ricette</a></li>
        <li><a href="#">Lista Spesa</a></li>
      </ul>
    </div>
  </div>
</nav>
