<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Nome Ricetta</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Gestisci Ricette <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Lista della spesa</a></li>
        <li><a href="#">Modifica Ricetta</a></li>
        <li><a href="#">Cancella Ricetta</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
