<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Ingrediente</label>
          <input type="text" id="name" class="form-control">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Quantitià</label>
          <input type="number" id="amount" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">Aggiungi</button>
          <button class="btn btn-danger" type="button">Cancella</button>
          <button class="btn btn-primary" type="button">Svuota</button>
        </div>
      </div>
    </form>
  </div>
</div>
